services:
  backend:
    build: ./backend
    container_name: em_backend
    restart: unless-stopped
    expose:
      - 8080
    networks:
      - internal

  nginx:
    image: nginx:alpine
    container_name: em_nginx
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    command: >
      sh -c "
        rm -f /etc/nginx/conf.d/*.conf &&
        nginx -t &&
        exec nginx -g 'daemon off;'
      "
    depends_on:
      - backend
    networks:
      - internal

networks:
  internal:
    driver: bridge
